
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Two columns with equal width */
    gap: 20px; /* Gap between grid items */   
}
/* Style for each grid items */
.grid-item {
border: 1px solid #ccc;
padding: 20px;
text-align: center;
font-weight: bold;
}
.grid-item img{
    height: 200px; /* Ensure the image takes up 70% of its container's height */
}